<div class="container mt-4">
  <div class="card border-primary mb-3" style="max-width: 60rem;">
    <div class="card-body">
      <h4 class="card-title text-center">Agregar Cliente</h4>
      <div class="container">
        <form [formGroup]="my_form" (ngSubmit)="onSubmit()">
          <fieldset>
            <div>
              <label class="col-form-label mt-4" for="name">Nombre</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Nombre" id="name" required="">
              <div *ngIf="formControls.name.touched && formControls.name.invalid">
                <small *ngIf="formControls.name.hasError('required')">El nombre es obligatorio.</small>
              </div>
            </div>
            <div>
              <label class="col-form-label mt-4" for="address">Dirección</label>
              <input formControlName="address" type="text" class="form-control" placeholder="Dirección" id="address"
                required="">
              <div *ngIf="formControls.address.touched && formControls.address.invalid">
                <small *ngIf="formControls.address.hasError('required')">La dirección es obligatoria.</small>
              </div>
            </div>
            <div>
              <label class="col-form-label mt-4" for="phonenumber">Teléfono</label>
              <input formControlName="phonenumber" type="text" class="form-control" placeholder="Telefono"
                id="address" required="">
              <div *ngIf="formControls.phonenumber.touched && formControls.phonenumber.invalid">
                <small *ngIf="formControls.phonenumber.hasError('required')">El teléfono es obligatorio.</small>
                <small *ngIf="formControls.phonenumber.hasError('pattern')">El teléfono debe contener solo
                  números.</small>
              </div>
            </div>
            <div>
              <label class="col-form-label mt-4" for="mail">E-mail</label>
              <input formControlName="mail" type="mail" class="form-control" placeholder="E-mail" id="mail" required="">
              <div *ngIf="formControls.mail.touched && formControls.mail.invalid">
                <small *ngIf="formControls.mail.hasError('required')">El correo es obligatorio.</small>
                <small *ngIf="formControls.mail.hasError('email')">El formato del correo no es válido.</small>
              </div>
            </div>
          </fieldset>
          <button type="submit" (click)="botonSubmit()" class="btn btn-primary mb-3 mt-3">Enviar</button>
        </form>
      </div>

    </div>
  </div>
</div>