<div class="container">
  <h2>Lista de clientes</h2>
  <button class="btn btn-primary mb-3" (click)="agregarCliente()">Agregar Cliente</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.address }}</td>
        <td>{{ cliente.phonenumber }}</td>
        <td>{{ cliente.mail }}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="editarCliente(cliente)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminarCliente(cliente.id)">Borrar</button>
        </td> <!-- Acciones para cada cliente -->

      </tr>
    </tbody>
  </table>

</div>
